html, body, #react-app {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff; 
    font-family: arial, verdana, sans-serif;
}

.fly-down {
    animation: flying-down 600ms cubic-bezier(.25,.75,.2,1.2) forwards;
}

@keyframes flying-down {
    from {
        transform: translateY(-100vh)
    }
    to {
        transform: translateY(0)
    }
}

.pop-hover {
    transition: all 0.3s cubic-bezier(.25,.75,.5,1.6);
}

.pop-hover:hover {
    transform: scale(1.1) perspective(1px) translateZ(0);
    backface-visibility: hidden;
}

.drop {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    transition: all 300ms cubic-bezier(.25,.75,.5,1.6);
}

.drop:hover {
    height: 72px;
    width: 72px;
}

@keyframes falling {
    from {
        transform: translateX(-50%) translateY(-105vh);
    }
    to {
        transform : translateX(-50%) translateY(5vh);
    }
}

.shiny-red {
    background: radial-gradient(ellipse at 36% 32% , #ffffff 0%, #edabaf 20%, #d22d39 60%, #d22d39 100%);
    border: 4px solid #d22d39;
    opacity: 0.95;
}
.shiny-green {
    background: radial-gradient(ellipse at 36% 32%, #ffffff 0%, #a7eba2 20%, #32CD32 60%, #32CD32 100%);
    border: 4px solid #32CD32;
    opacity: 0.95;
}

.splatter-red:after {
    background-color: #d22d39;   
}
.splatter-green:after {
    background-color: #32CD32;
}

.splatter-red:after, .splatter-green:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    mix-blend-mode: lighten;
}

.flip-container {
	perspective: 1000px;
}

/* flip speed goes here */
.flipper {
	transition: all 0.6s cubic-bezier(.25,.75,.5,1.2);
	transform-style: preserve-3d;

	position: relative;
    height: 100%;
    width: 100%;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.player-card-folder {
    transition: all 0.6s cubic-bezier(.25,.75,.5,1.1); 
    transform: translate(-50%, 80%);
}

.player-card-folder-open {
    transform: translate(-50%, 20%);
}

.folder-front {
    transform-origin: bottom;
    transition: transform 0.3s cubic-bezier(.25,.75,.5,1.1);
}
.folder-front:hover {
    transform: rotateX(-10deg) rotateY(-1deg);
}

.folder-front-opening {
    transform: rotateX(-40deg) rotateY(-2deg) !important;
}

.player-card-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    height: 440px;
    width: 680px;
    background: #FFF;
    filter: drop-shadow(4px -4px 4px rgb(0,0,0,.2));
    transform: translate(-50%, 80%);
    transform-origin: 30%;
    transition: all 0.3s cubic-bezier(.25,.75,.5,1.1);
}

.player-card-container-open {
    width: 70vw;
    height: 70vh;
    top: 50%;
    transform: translate(-50%, -50%);
}

.player-card-container-opening {
    top: 50%;
    transform: translate(-50%, -50%) rotateX(-20deg);
}