#react-app,
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff;
  font-family: arial,verdana,sans-serif
}

.text-button {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
.full-size {
  width: 100%;
  height: 100%
}

.fly-down {
  animation: 0.6s cubic-bezier(.25, .75, .2, 1.2) forwards flying-down
}
@keyframes flying-down {
  from {
    transform: translateY(-100vh)
  }
  to {
    transform: translateY(0)
  }
}
.pop-transition {
  transition: .3s cubic-bezier(.25, .75, .5, 1.6)
}
.pop-hover:hover {
  scale: 1.1
}
.drop {
  height: var(--drop-size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: .3s cubic-bezier(.25, .75, .5, 1.6);
  position: fixed;
  bottom: 0;
  cursor: 'pointer';
}
.drop:hover {
    height: calc(var(--drop-size) * 1.1)
}
@keyframes falling {
  from {
    transform: translateX(-50%) translateY(-120vh)
  }
  to {
    transform: translateX(-50%) translateY(20vh)
  }
}
.shiny-red.shiny-red {
  background: radial-gradient(ellipse at 36% 32%,#fff 0,#edabaf 20%,#d22d39 60%,#d22d39 100%);
  border: 4px solid #d22d39;
  opacity: .95
}
.shiny-green.shiny-green {
  background: radial-gradient(ellipse at 36% 32%,#fff 0,#a7eba2 20%,#32cd32 60%,#32cd32 100%);
  border: 4px solid #32cd32;
  opacity: .95
}
.splatter-red:after {
  background-color: #d22d39
}
.splatter-green:after {
  background-color: #32cd32
}
.splatter-green:after,
.splatter-red:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: lighten
}

